$LG_BREAKPOINT: 1400px;


$COLOR_BLACK: #000;
$COLOR_PRIMARY: #343A40;

$COLOR_GRAY_DARKEN: #7C7C7C;
$COLOR_GRAY_LIGHTEN: #CCCCCC;

$COLOR_RED: #F03E3E;
$COLOR_ORANGE: #FF8B4A;
$COLOR_GREEN: #51CF66;
$KEY_COLOR: #339AF0;

$COLOR_WHITE: #fff;

$DEEMED: rgba($COLOR_BLACK, .2);

$BOX_SHADOW: 0px 4px 12px 2px rgba(black, 0.1);
$BORDER_RADIOUS: 10px;

$LG_HEADER_HEIGHT: 100px;
$SM_HEADER_HEIGHT: 70PX;
$HEADER_INDEX: 100;

